In [12]:
import pandas as pd
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

oasis1 = pd.read_csv("~/code/mkvph0ch/memobrain/raw_data/OASIS1/preprocessed_oasis1.csv")
oasis2 = pd.read_csv("~/code/mkvph0ch/memobrain/raw_data/OASIS2/preprocessed_oasis2.csv")

In [28]:
X1=oasis1.drop(columns=['CDR'])
y1=oasis1['CDR']
X1

,num_transformer__s_scaler__Age,num_transformer__m_scaler__EDUC,num_transformer__m_scaler__SES,num_transformer__r_scaler__eTIV,num_transformer__r_scaler__MMSE,num_transformer__remainder__nWBV,num_transformer__remainder__ASF,encoder__M/F_M
0,0.137193,0.25,0.50,-0.515,0.00,0.743,1.306,0
1,-1.437530,0.75,0.00,-1.500,0.00,0.810,1.531,0
2,0.054313,0.75,0.50,0.035,-0.50,0.708,1.207,0
3,0.137193,1.00,0.25,0.945,0.25,0.689,1.073,1
4,-1.686170,0.50,0.25,-0.630,0.25,0.827,1.329,0
...,...,...,...,...,...,...,...,...
230,-0.194328,0.00,0.75,-0.760,0.00,0.748,1.355,0
231,0.054313,0.50,0.25,0.445,-1.50,0.730,1.142,0
232,-0.940249,0.25,0.75,-0.465,-0.25,0.825,1.297,0
233,-0.940249,1.00,0.25,0.950,0.25,0.780,1.072,1
234,-0.857369,0.50,0.50,-0.375,-0.75,0.766,1.279,0

In [19]:
X2=oasis2.drop(columns=['CDR'])
y2=oasis2['CDR']
X2

,num_transformer__s_scaler__Age,num_transformer__m_scaler__EDUC,num_transformer__m_scaler__SES,num_transformer__r_scaler__eTIV,num_transformer__r_scaler__MMSE,num_transformer__remainder__nWBV,num_transformer__remainder__ASF,encoder__M/F_M
0,1.308738,0.470588,0.25,2.154167,-0.666667,0.696,0.883,1
1,1.439787,0.470588,0.25,2.225000,0.333333,0.681,0.876,1
2,-0.263856,0.352941,0.25,0.866667,-2.000000,0.736,1.046,1
3,-0.132806,0.352941,0.25,1.116667,-0.333333,0.713,1.010,1
4,0.391392,0.352941,0.25,0.950000,-2.333333,0.701,1.034,1
...,...,...,...,...,...,...,...,...
368,0.653491,0.588235,0.00,0.929167,-0.333333,0.694,1.037,1
369,1.177688,0.588235,0.00,0.908333,-1.000000,0.675,1.040,1
370,-2.098548,0.411765,0.25,-0.629167,0.333333,0.801,1.331,0
371,-1.836449,0.411765,0.25,-0.595833,0.333333,0.796,1.323,0
372,-1.574350,0.411765,0.25,-0.570833,0.333333,0.801,1.317,0

In [15]:
frames=[oasis1, oasis2]
oasis12 = pd.concat(frames)

In [92]:
oasis12.dtypes

num_transformer__s_scaler__Age      float64
num_transformer__m_scaler__EDUC     float64
num_transformer__m_scaler__SES      float64
num_transformer__r_scaler__eTIV     float64
num_transformer__r_scaler__MMSE     float64
num_transformer__remainder__nWBV    float64
num_transformer__remainder__ASF     float64
encoder__M/F_M                        int64
CDR                                   int64
dtype: object

In [18]:
X12=oasis12.drop(columns=['CDR'])
y12=oasis12['CDR']
X12

,num_transformer__s_scaler__Age,num_transformer__m_scaler__EDUC,num_transformer__m_scaler__SES,num_transformer__r_scaler__eTIV,num_transformer__r_scaler__MMSE,num_transformer__remainder__nWBV,num_transformer__remainder__ASF,encoder__M/F_M
0,0.137193,0.250000,0.50,-0.515000,0.000000,0.743,1.306,0
1,-1.437530,0.750000,0.00,-1.500000,0.000000,0.810,1.531,0
2,0.054313,0.750000,0.50,0.035000,-0.500000,0.708,1.207,0
3,0.137193,1.000000,0.25,0.945000,0.250000,0.689,1.073,1
4,-1.686170,0.500000,0.25,-0.630000,0.250000,0.827,1.329,0
...,...,...,...,...,...,...,...,...
368,0.653491,0.588235,0.00,0.929167,-0.333333,0.694,1.037,1
369,1.177688,0.588235,0.00,0.908333,-1.000000,0.675,1.040,1
370,-2.098548,0.411765,0.25,-0.629167,0.333333,0.801,1.331,0
371,-1.836449,0.411765,0.25,-0.595833,0.333333,0.796,1.323,0
372,-1.574350,0.411765,0.25,-0.570833,0.333333,0.801,1.317,0

Evaluating the merged dataset with the best estimator of the Oasis 2 analysis, training on the Oasis 2 dataset.

In [32]:
best_model_oasis2 = RandomForestClassifier(n_estimators= 100, max_features= 'auto', max_depth= 8, criterion= 'gini')
best_model_oasis2.fit(X2, y2)

RandomForestClassifier(max_depth=8)

In [33]:
y_pred_oasis2 = best_model_oasis2.predict(X12)

In [34]:
accuracy_score(y12, y_pred_oasis2), recall_score(y12, y_pred_oasis2), precision_score(y12, y_pred_oasis2)

(0.9424342105263158, 0.8876404494382022, 0.9793388429752066)

Evaluating the merged dataset with the best estimator of the Oasis 1 analysis, fitting in the Oasis 1 dataset.

In [35]:
best_model_oasis1 = RandomForestClassifier(bootstrap=False, max_depth=20, max_features='sqrt', n_estimators=800)
best_model_oasis1.fit(X1, y1)

RandomForestClassifier(bootstrap=False, max_depth=20, max_features='sqrt',
                       n_estimators=800)

In [36]:
y_pred_oasis1 = best_model_oasis1.predict(X12)

In [37]:
accuracy_score(y12, y_pred_oasis1), recall_score(y12, y_pred_oasis1), precision_score(y12, y_pred_oasis1)

(0.9111842105263158, 0.8726591760299626, 0.9209486166007905)

Evaluating the merged dataset with the best estimator of the Oasis 1 analysis, fitting in the merged dataset.

In [40]:
X_train12, X_test12, y_train12, y_test12 = train_test_split(X12, y12, test_size=0.3, random_state=42)

In [79]:
best_model_oasis1.fit(X_train12, y_train12)
y_pred12_1 = best_model_oasis1.predict(X_test12)
accuracy_score(y_test12, y_pred12_1), recall_score(y_test12, y_pred12_1), precision_score(y_test12, y_pred12_1)

(0.825136612021858, 0.75, 0.8513513513513513)

Evaluating the merged dataset with the best estimator of the Oasis 2 analysis, fitting in the merged dataset.

In [91]:
best_model_oasis2.fit(X_train12, y_train12)
y_pred12_2 = best_model_oasis2.predict(X_test12)
accuracy_score(y_test12, y_pred12_2), recall_score(y_test12, y_pred12_2), precision_score(y_test12, y_pred12_2)

(0.8415300546448088, 0.7261904761904762, 0.9104477611940298)